spring:
  application:
    name: droiddeploy

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/droiddeploy}
    username: ${DB_USERNAME:droiddeploy_user}
    password: ${DB_PASSWORD:123droiddeployPostgresPwd&!}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    schemas: public
