spring:
  application:
    name: droiddeploy
  servlet:
    multipart:
      max-file-size: 300MB      # Max file size
      max-request-size: 300MB   # Max request size

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/droiddeploy}
    username: ${DB_USERNAME:droiddeploy_user}
    password: ${DB_PASSWORD:123droiddeployPostgresPwd&!}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    schemas: public

user-defaults:
  super-admin-login: ${SUPER_ADMIN_LOGIN:super_admin}
  super-admin-password: ${SUPER_ADMIN_PWD:DdSUadmPwd&^1_z}

droiddeploy:
  storage:
    root: ${DROIDDEPLOY_STORAGE_ROOT:/var/lib/droiddeploy/apks}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true
  show-actuator: false

security:
  jwt:
    secret: ${JWT_SECRET:change-me-in-real-env-this-should-be-at-least-256-bits-long}
    issuer: ${JWT_ISSUER:droiddeploy}
    access-token-validity-seconds: ${JWT_ACCESS_TOKEN_VALIDITY:900}      # 15 minutes
    refresh-token-validity-seconds: ${JWT_REFRESH_TOKEN_VALIDITY:2592000} # 30 days
